*.swp
configure
configure_aux
config.log
config.status
config.guess
config.sub
Makefile
Makefile.in
aclocal.m4
autom4te.cache
*.o
*.a
config.h
config.h.in
config.h.in~
*.tar.gz
.deps
stamp-h1
install-sh
compile
missing
depcomp
vdc-venta
venta.cfg
venta.log
